<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      xmlns:tools="http://schemas.android.com/tools">
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
                     android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
                     android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    
    <!-- For Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application 
        android:icon="@drawable/icon" 
        android:label="@string/app_name" 
        android:name="uk.trigpointing.android.MainApplication"
        android:allowBackup="true"
        android:theme="@style/Theme.TrigpointingUK"
        android:networkSecurityConfig="@xml/network_security_config"
        >
        <!-- Ensure Crashlytics is enabled in all builds unless overridden -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <activity android:label="@string/app_name" android:name="uk.trigpointing.android.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="uk.trigpointing.android.nearest.NearestActivity"
            android:exported="false" />
        <activity 
            android:name="uk.trigpointing.android.DownloadTrigsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName="uk.trigpointing.android.MainActivity" />
        <activity 
            android:name="uk.trigpointing.android.PreferencesActivity"
            android:exported="false" />
        <activity 
            android:name="uk.trigpointing.android.mapping.DownloadMapsActivity"
            android:exported="false"
            android:configChanges="keyboardHidden|orientation" />
        <activity 
            android:name="uk.trigpointing.android.trigdetails.TrigDetailsActivity"
            android:exported="false" />
        <activity 
            android:name="uk.trigpointing.android.trigdetails.TrigDetailsAlbumTab"
            android:exported="false" />
        <activity 
            android:name="uk.trigpointing.android.trigdetails.TrigDetailsInfoTab"
            android:exported="false" />
        <activity 
            android:name="uk.trigpointing.android.trigdetails.TrigDetailsLoglistTab"
            android:exported="false" />
        <activity 
            android:name="uk.trigpointing.android.trigdetails.TrigDetailsOSMapTab"
            android:exported="false" />



        <activity 
            android:name="uk.trigpointing.android.mapping.LeafletMapActivity"
            android:exported="false" />
        <activity 
            android:name="uk.trigpointing.android.common.WebViewActivity"
            android:exported="false" />
        <activity
            android:name="uk.trigpointing.android.radar.RadarActivity"
            android:exported="false" />
        <meta-data android:value="6668b1358f29457b88baf287a692ae97" android:name="CLOUDMADE_KEY"></meta-data>
        <meta-data android:value="AmX-6eFz_aE2rrhkXUprU3HRV2BNMrCYQoKodIFdfNEcZosjAEbsNetB00GFktP5" android:name="BING_KEY"></meta-data>
        <activity 
            android:name="uk.trigpointing.android.HelpPageActivity"
            android:exported="false" />
        <activity 
            android:name="uk.trigpointing.android.common.DisplayBitmapActivity"
            android:exported="false" />
        <activity 
            android:name="uk.trigpointing.android.logging.LogTrigActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity 
            android:name="uk.trigpointing.android.logging.LogPhotoActivity"
            android:exported="false" />
        <activity 
            android:name="uk.trigpointing.android.filter.FilterActivity"
            android:exported="false" />
        <activity 
            android:name="uk.trigpointing.android.filter.TrigpointTypesActivity"
            android:exported="false" />
        <activity 
            android:name="uk.trigpointing.android.filter.FilterFoundActivity"
            android:exported="false" />
    </application>
</manifest>