<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.trigpointing.android.test">

    <application
        android:name="uk.trigpointing.android.test.TestApplication"
        android:allowBackup="false"
        android:label="Test App">
        
        <!-- Disable Firebase components for testing -->
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="${applicationId}.firebaseinitprovider"
            android:enabled="false"
            android:exported="false" />
            
    </application>
</manifest>
